<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @teacher.name %>
</p>

<p>
  <b>Bio:</b>
  <%= @teacher.bio %>
</p>

<p>
  <b>Email:</b>
  <%= @teacher.email %>
</p>

<p>
	<b>Profile Picture</b><br>
	<%= image_tag @teacher.avatar.url(:original)%>
	<br>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
