<!DOCTYPE html>
<html>
<head>
  <title>Opendoortraining</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container-fluid">
		<div class="masthead">	
			<%= image_tag "opendoor.jpg", alt: "OpenDoor" %>
			<ul class="nav nav-pills pull-right">
				<li><a href="/courses">View Courses</a></li>
				<% if user_signed_in? %>
				<li>
					<a href="/pages/mycourses">My Courses</a>
				</li>
				<li>
					<%= link_to("Logout: #{current_user.email}", destroy_user_session_path, :method => :delete)%>
				</li>
				<% else %>
				<li><a href="#">Sign Up</a></li>
				<li><a href="#">Log In</a></li>
				<% end %>
			</ul>
		</div>
		<!--flash alert-->
		<% if flash[:alert]%>
			<div class="row-fluid" style="margin-top: 25px;">
				<div class="alert alert-danger"><%= flash[:alert] %></div>
			</div>
		<% end %>
		<!--end alert-->
		<!--flash notification-->
		<% if flash[:notice] %>
			<div class="row-fluid" style="margin-top: 25px;">
				<div class="alert alert-success"><%= flash[:notice] %></div>
			</div>
		<% end %>
		<!--end notification-->

		<div class="row-fluid" style="margin-top: 25px;">
			<%= yield %>
		</div>
	</div>


</body>
</html>
